
<label for="title">
	<f:translate key="tx_titelei_domain_model_titel.title" />
</label><br />
	<f:form.textfield property="title" /><br />


<label for="isbn">
	<f:translate key="tx_titelei_domain_model_titel.isbn" />
</label><br />
	<f:form.textfield property="isbn" /><br />
<label for="cover">
	<f:translate key="tx_titelei_domain_model_titel.cover" />
</label><br />
	<f:form.textfield property="cover" /><br />
<label for="description">
	<f:translate key="tx_titelei_domain_model_titel.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="language">
	<f:translate key="tx_titelei_domain_model_titel.language" />
</label><br />
	<f:form.textfield property="language" /><br />
<label for="author">
	<f:translate key="tx_titelei_domain_model_titel.author" />
</label><br />
	<f:form.textfield property="author" /><br />
<label for="publisher">
	<f:translate key="tx_titelei_domain_model_titel.publisher" />
</label><br />
	<f:form.textfield property="publisher" /><br />
<label for="copyrights">
	<f:translate key="tx_titelei_domain_model_titel.copyrights" />
</label><br />
	<f:form.textfield property="copyrights" /><br />
<label for="tags">
	<f:translate key="tx_titelei_domain_model_titel.tags" />
</label><br />
	<f:form.textfield property="tags" /><br />