
<table class="tx-titelei" >
	<tr>
		<td>
			<f:translate key="tx_titelei_domain_model_titel.title" />
		</td>
		<td>
		{titel.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_titelei_domain_model_titel.description" />
		</td>
		<td>
		{titel.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_titelei_domain_model_titel.language" />
		</td>
		<td>
		{titel.language}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_titelei_domain_model_titel.author" />
		</td>
		<td>
		{titel.author}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_titelei_domain_model_titel.publisher" />
		</td>
		<td>
		{titel.publisher}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_titelei_domain_model_titel.copyrights" />
		</td>
		<td>
		{titel.copyrights}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_titelei_domain_model_titel.tags" />
		</td>
		<td>
		{titel.tags}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_titelei_domain_model_titel.isbn" />
		</td>
		<td>
		{titel.isbn}
		</td>
	</tr>

	

</table>